@tailwind base;
@tailwind components;
@tailwind utilities;

.home-with-bg {
  background: url("/home-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}